/* Reset */
li {   
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color : inherit;
}

/*Global style*/
html {
    font-family: 'Montserrat', sans-serif;
}
.flux {
    margin-left: 75px;
    margin-right: 75px;
}

body {
    background-color: white;
}

/*Stylisation Navigation*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D00931;
    padding: 20px 75px;
}

.list-link {
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
    align-items: center;

}

.nav-link {
    text-transform : uppercase;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

/*Stylisation section info*/

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}

.title-intro {
    font-size: 3.5rem;
    font-weight:600;
    color: #222;
    margin-bottom: 10px;
}

.text-intro {
    font-size: 1.3rem;
    margin-bottom: 20px;
}


.socials {
    display: flex;
    gap: .5rem;
}

.socials .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #cf2e2e;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 9999px;
}

.socials a:hover {
    background-color: red;
}

.avatar img {
    display: flex;
    border-radius: 50px;
    width: 200px;
}


/*Stylisation Skills*/

.container-skills {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.title-2 {
    text-align: center;
    margin-bottom: 10px;
}


/*Stylisation Projects*/

.box img {
    border: 3px solid black;
    border-radius: 10px;
}

.projects-list {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 1rem;
}

.one {
    grid-column: 1/3;
}

.two {
    grid-column: 3/4;
    grid-row: 1 / 3;
}

.three {
    grid-column: 1 / 2;
}

.four {
    grid-column: 2 / 3;
}